.container{
    background: #d04238;
    height: 100vh;
    position: relative;
}
.container .theme{
    height: 13.34rem;
    width: 7.5rem;
    position: absolute;
    top: 0;
    left: 0;
}
.theme .palace{
    height: 8.83rem;
    width: 7.5rem;
    background: url('../images/decorate/蓝天.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.theme .ladder{
    width: 7.5rem;
    height: 7.04rem;
    background: url('../images/decorate/阶梯.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 4.64rem;
    left: 0;
}
.cloud{
    height: 13.34rem;
    width: 7.5rem;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.cloud .cloud-left{
    width: 100%;
    height: 100%;
    background: url('../images/decorate/云-左.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    animation: waggle 3s ease-in-out infinite;
}
.cloud .cloud-right{
    width: 100%;
    height: 100%;
    background: url('../images/decorate/云-右.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1);
    animation: waggle 3s ease-in-out infinite;
}
.theme .subject{
    width: 7.5rem;
    height: 4.3rem;
    background: url('../images/decorate/51大放假.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.balloon-yellow{
    width: 1.5rem;
    height: 3rem;
    background: url('../images/decorate/气球.png') no-repeat;
    background-position: center 0rem;
    background-size: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    animation: up 8s ease-in-out infinite;
}
.balloon-pink{
    width: 1.5rem;
    height: 3rem;
    background: url('../images/decorate/气球.png') no-repeat;
    background-position: center -3rem;
    background-size: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    animation: up 8s ease-in-out infinite 0.5s;
}
.decorate{
    width: 7.5rem;
    height: 100%;
    overflow: hidden;
    background: url('../images/decorate/礼花背景.png') no-repeat;
    background-size: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* 不可以被点击 */
}
.introduction{
    width: 7.24rem;
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes waggle{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes up{
    0%{
        top: 8rem;
    }
    100%{
        top: -6rem;
    }
}