html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,img,em,strong,header,footer,nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a,a:hover{
    color: #000;
    text-decoration: none;
}